</head>
<body>
    <form action = "/update" method = "POST">
        <table>
            <tr>
                <td>
                    Account No
                </td>
                <td>
                    <input type = "text" name = "Acc_no" value = "{{accdetail.Acc_no}}">
                </td>
            </tr>
            <tr>
                <td>
                    Account Holder Name
                </td>
                <td>
                    <input type = "text" name = "Acc_Name" value = "{{accdetail.Acc_Name}}">
                </td>
            </tr>
            <tr>
                <td>
                    Transaction Type
                </td>
                <td>
                    <input type = "text" name = "TranType" value = "{{accdetail.Acc_Type}}">
                </td>
            </tr>
            <tr>
                <td>
                    Amount
                </td>
                <td>
                    <input type = "text" name = "Amount" value = "{{accdetail.Amount}}">
                </td>
            </tr>
            <tr colspan = "2">
                <td>
                    <a href = "{{ url_for ('ShowAllData')}}">Show All Data</a>
                    <input type = "submit" value = "Save Data">
                </td>
            </tr>
        </table>
    </form>
</body>

